@use "breakpoints.scss";
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap");
:root {
  --color-black: #313131;
  --color-white: #ffffff;
  --color-1: #5e6472;
  --color-2: #38a3a5;

  --background-color: var(--color-2);
  --text-color: var(--color-white);

  --font-family: "Raleway";

  --font-size: 16px;

  @include breakpoints.device(breakpoints.$medium) {
    --font-size: 18px;
  }

  @include breakpoints.device(breakpoints.$large) {
    --font-size: 18px;
  }
}
